:root {
    --map-header-height: 70px;
    /* --map-footer-height: 40px; */
    --map-body-height: 200px;
}

.map-header-container {
    height: var(--map-header-height);
}

.map-body {
    height: var(--map-body-height);
    @apply rounded-2xl overflow-clip;
}

.map-footer-container {
    height: calc(100vh - var(--map-body-height) - var(--map-header-height));
}